#main{
    background-color:rgba(0, 0, 0, 0.388);
    color:white;
    display: inline-block;
    width: 350px;
    height: 350px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 7px 7px rgba(0, 0, 0, 0.29);
    position: relative;
    left: 450px;
    top: 80px;
    position: absolute;
    top: 110px;
    
}
a{
    color: aqua;
}
#box1{
    padding: 3px;
    border: 2px solid cyan;
}
#box2{
    padding: 3px;
    border: 2px solid cyan;

}
#button{
    background-color: rgb(51, 223, 226);
    color: black;
    padding: 3px;
}
.user{
    color: white;
    font-size: large;
}